.custom-card-group {
    gap: 1.5rem;
}

.custom-card {
    max-width: 20em;
}

.add-app-card {
    max-width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-logo {
    width: 4em;
    height: 4em;
    margin-right: 1em;
}

button.home-icon {
    padding: 1pt;
    width: auto;
    height: auto;
}
button.home-icon:hover {
    background-color: lightblue;
}